@media only screen and (max-width : 991px) {
  #hide { 
    display: none; 
  }
  #custom-search-input {
    margin-bottom: 25px;
  }
}

#flex {
  display:flex; flex-wrap: wrap;
  margin-top: 25px;
}

#new-line {
  display: block;
  margin-top: 10px;
}